.login_container{
    min-height: 100vh;
    background-color: #f56a6a;
}

.login-page button{
    line-height: 0;
    color: black;
    width: 100%;
}

.login-page input{
    margin-bottom: 10px;
}

.login_btn{
    background-color: #f56a6a !important;
    color: #FFFFFF !important;
    margin-bottom: 10px;
}

.login-page span{
    width: 100%;
    font-weight: bold !important;
    color: #737373;
}


.login-page h3{
    color: #f56a6a;
    letter-spacing: 3px;
    margin: 0px 0px 1.5em 0px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.link_btns {
    text-align: right;
    margin-bottom: 20px;
}

.link_btns span{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}